@font-face {
    font-family: abel;
    src: url(../Abel-Regular.ttf);
}

@font-face {
    font-family: abril;
    src: url(../AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: shrikhand;
    src: url(../Shrikhand-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #222;
    color: white;
}


html,
body {
    width: 100%;
    height: 100%;
}

/* NAV BAR */

nav {
    height: 14vh;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: abril;
    position: fixed;
    z-index: 10;
    background-color: #2222222d;
    backdrop-filter: blur(1px);
}

nav h2 {
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 2.5vw;
    line-height: 5vh;
    color: white;
    cursor: pointer;
    background-color: transparent;
}

nav button {
    border: none;
}

nav a {
    text-decoration: none;
    background-color: transparent;
    color: #349bfb;
}

.resume {
    font-size: large;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    box-shadow: 0px -1px 16px 1px rgb(255 255 255 / 69%);
    cursor: pointer;
    padding: 0 2%;
}

.resumebtn {
    font-size: 89%;
    background: none;
    font-family: 'shrikhand';
    color: royalblue;
    cursor: pointer;
    text-shadow: 5px 6px 4px #1d8bf580;
}

/* HERO BODY */

#hero-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    padding-top: 12vh;
    color: white;
    padding-bottom: 3vh;
}

.hero-content h1 {
    color: #fff;
    font-size: 4vw;
    font-family: abril;
    padding-top: 0.5vw;
    font-weight: 400;
}

.image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.image-div img {
    object-fit: cover;
    object-position: unset;
    height: 83%;
    box-shadow: 0px -1px 10px 2px rgb(0 223 255 / 74%);
    width: 52%;
    margin: 3% 5%;
    border-radius: 35px 35px 5px 5px;
}

/* ABOUT SECTION AND MYSELF */

#page-2 {
    margin-top: 3%;
    width: 100%;
}

.move {
    padding: 10px;
}

.myself,
.myself h1,
p {
    background-color: rgb(43, 43, 46);
}

.marq {
    display: inline-block;
    font-size: 4.5vw;
    color: powderblue;
    font-family: shrikhand;
    font-weight: 100;
}

.marq h1 {
    font-size: 5vw;
    font-weight: 200;
    font-family: abril;
}

/* Myself Section */

#about {
    height: auto;
}

.myself {
    padding: 10%;
    display: flex;
    justify-content: unset;
    align-items: flex-start;
}

.myself h1 {
    font-size: 3vw;
    font-family: abril;
    padding-right: 1vw;
    padding-left: 1vw;
    font-weight: 400;
}

.myself p {
    font-family: 'shrikhand';
    font-size: 2.2vw;
    padding-left: 2vw;
    border-left: 1px solid red;
    margin-left: 5vw;
}

/* Tech Stack Section */

#tech-stack {
    padding: 1.5%;
}

.tech-text {
    font-size: 6vw;
    font-family: 'abril';
    font-weight: 900;
    margin-bottom: 2rem;
    padding-left: 2%;
    color: #ff9f81;
}

.projects {
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    position: relative;
}

.common {
    font-size: 2vw;
    height: 30%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    flex-wrap: wrap;
}

.project-link {
    font-family: 'shrikhand';
    font-size: 3.2vw;
    text-decoration: none;
    color: burlywood;
}

.common a:hover {
    color: crimson;
    font-family: 'abril';
    font-size: 4vw;
}

.projects img {
    width: 20%;
    object-fit: contain;
    opacity: 0.8;
    border-radius: 20px;
    float: right;
}

.projects img:hover {
    scale: 102%
}

/* SKILLS SECTION */

.skills {
    margin-bottom: 2%;
}

.skills button {
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills button img:hover {
    scale: 110%;
}

.skills-img {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-img img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 4px;
    box-shadow: 0px 0px 6px 2px cadetblue;
}

/* FOOTER SECTION */

footer {
    padding: 0 2%;
    font-family: abril;
    padding-top: 5%;
    background-color: #444;
}

footer h2 {
    font-size: 6vw;
    font-family: 'abel';
    font-family: abril;
    font-weight: 400;
    color: darkseagreen;
    border-bottom: 1px solid;
    background-color: #444;
}

footer h1 {
    font-size: 6vw;
    font-family: 'abel';
    font-family: shrikhand;
    font-weight: 400;
    color: #ff5676;
    line-height: 10vw;
    letter-spacing: -0.01vw;
    padding-top: 2rem;
    background-color: #444;
}

footer h1 a,
i {
    color: blanchedalmond;
    text-decoration: none;
    font-weight: 100;
    background-color: #444;
}

footer p {
    font-size: 1.4vw;
    font-family: sans-serif;
    color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.6rem;
    letter-spacing: 1px;
    padding-bottom: 4vh;
    background-color: #444;
}

footer a:hover {
    color: peru;
    text-decoration: none;
    font-weight: 100;
    background-color: #444;
}

footer i:hover {
    color: peru;
    text-decoration: none;
    font-weight: 100;
    background-color: #444;
}


@media (max-width:720px) {

    nav {
        padding: 8% 2%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav h2 {
        font-size: 4vw;
        line-height: 21px;
    }

    nav button i {
        font-size: 2rem;
        margin-left: 130px;
    }

    .resume {
        padding: 1%;
        width: 40%;
        height: auto;
    }

    .resumebtn {
        font-size: 90%;
    }

    .hero-content h1 {
        padding-top: 2vh;
        font-size: 10vw;
    }

    .image-div {
        padding: 10% 0%;
    }

    .image-div img {
        width: 70vw;
        border-radius: 10px;
        object-fit: contain;
    }

    .myself {
        flex-direction: column;
    }

    .myself h1 {
        padding-bottom: 4%;
    }

    .myself p {
        margin-left: 0;
    }

    .projects {
        height: 40vh;
        padding: 2%;
    }

    .projects img {
        width: 25%;
        border-radius: 20px;
    }

    .skills-img img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin: 4px;
    }

    .container {
        padding: 2% 8%;
        box-shadow: 2px -4px 10px 10px rgb(11 233 36 / 10%);
        width: 96%;
        height: 43vh;
        margin: 2% 2%;
    }

    .container button {
        height: 5vh;
        width: 30%;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        background-color: #222;
    }

    footer h2 {
        background-color: #222;
    }

    footer h1 {
        background-color: #222;
    }

    footer h1 a,
    i {
        background-color: #222;
    }

    footer a:hover {
        background-color: #222;
    }

    footer i:hover {
        background-color: #222;
    }

    footer p {
        background-color: #222;
        font-size: 3vw;
    }
}